--
-- PostgreSQL database dump
--

-- Dumped from database version 13.3
-- Dumped by pg_dump version 13.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bike_sharing; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA bike_sharing;


ALTER SCHEMA bike_sharing OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: abbonamento; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.abbonamento (
    codice character varying(36) NOT NULL,
    password character varying(20),
    tipo character varying(30),
    studente boolean,
    sospeso boolean,
    dataacquisto date,
    datainizio date,
    datascadenzavalidita date,
    ammonizioni integer,
    cartadicredito character varying(16)
);


ALTER TABLE bike_sharing.abbonamento OWNER TO postgres;

--
-- Name: bicicletta; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.bicicletta (
    id character varying(36) NOT NULL,
    tipo character varying(30),
    danneggiata boolean
);


ALTER TABLE bike_sharing.bicicletta OWNER TO postgres;

--
-- Name: cartadicredito; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.cartadicredito (
    numero character varying(16) NOT NULL,
    scadenza character varying(10),
    cvv character varying(3)
);


ALTER TABLE bike_sharing.cartadicredito OWNER TO postgres;

--
-- Name: morsa; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.morsa (
    id character varying(36) NOT NULL,
    posizione integer,
    tipo character varying(30),
    bicicletta character varying(36),
    totem character varying(36)
);


ALTER TABLE bike_sharing.morsa OWNER TO postgres;

--
-- Name: noleggio; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.noleggio (
    id character varying(36) NOT NULL,
    orarioinizionoleggio timestamp without time zone,
    orariofinenoleggio timestamp without time zone,
    bicicletta character varying(36),
    abbonamento character varying(36),
    totem character varying(36)
);


ALTER TABLE bike_sharing.noleggio OWNER TO postgres;

--
-- Name: totem; Type: TABLE; Schema: bike_sharing; Owner: postgres
--

CREATE TABLE bike_sharing.totem (
    id character varying(36) NOT NULL,
    indirizzo character varying(50)
);


ALTER TABLE bike_sharing.totem OWNER TO postgres;

--
-- Data for Name: abbonamento; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--



--
-- Data for Name: bicicletta; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--

COPY bike_sharing.bicicletta (id, tipo, danneggiata) FROM stdin;
c665de5a-f796-4718-a817-34d70f55905e	ELETTRICA	f
4a6e8f3d-8521-46dc-b60d-292031099908	ELETTRICA_SEGGIOLINO	f
18b3665a-bd9d-4e1a-9583-f6ff835cbaec	NORMALE	f
8ec6bbd6-edf1-42e8-ba8c-bf30982432d4	ELETTRICA	f
42b47d5a-e6c6-4a02-b5eb-2f8186146067	NORMALE	f
19438f8e-5189-439c-87b3-ff0ba32e1d70	ELETTRICA	f
063c0714-45ce-4c83-83d6-8aa81e0741b5	ELETTRICA_SEGGIOLINO	f
d8d80ae5-b159-4961-8335-61fc825f25ef	ELETTRICA	f
d10ac900-b9af-49fe-b0a2-deed3a9c38fa	NORMALE	f
234e6164-9cec-49ec-ad1e-74a6388e5671	NORMALE	t
\.


--
-- Data for Name: cartadicredito; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--

COPY bike_sharing.cartadicredito (numero, scadenza, cvv) FROM stdin;
012850003580200	9/2022	123
12345678903555	12/2021	121
4475794209397914	12/2023	721
4291790808416693	12/2021	118
4870709574110347	12/2021	523
4079029256061430	9/2024	242
4259547800086803	02/2024	321
4618801449126934	03/2022	323
4463309147938770	04/2027	321
4131708522575903	02/2024	212
4880358154407760	01/2027	856
\.


--
-- Data for Name: morsa; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--



--
-- Data for Name: noleggio; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--



--
-- Data for Name: totem; Type: TABLE DATA; Schema: bike_sharing; Owner: postgres
--

COPY bike_sharing.totem (id, indirizzo) FROM stdin;
ef4980e3-8024-46eb-810f-f2ae799095a3	Via Celoria 18
dec6ac44-8f3c-4275-993b-9f9f1d63c3b9	Via Celoria 20
\.


--
-- Name: abbonamento abbonamento_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.abbonamento
    ADD CONSTRAINT abbonamento_pkey PRIMARY KEY (codice);


--
-- Name: bicicletta bicicletta_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.bicicletta
    ADD CONSTRAINT bicicletta_pkey PRIMARY KEY (id);


--
-- Name: cartadicredito cartadicredito_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.cartadicredito
    ADD CONSTRAINT cartadicredito_pkey PRIMARY KEY (numero);


--
-- Name: morsa morsa_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.morsa
    ADD CONSTRAINT morsa_pkey PRIMARY KEY (id);


--
-- Name: noleggio noleggio_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.noleggio
    ADD CONSTRAINT noleggio_pkey PRIMARY KEY (id);


--
-- Name: totem totem_pkey; Type: CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.totem
    ADD CONSTRAINT totem_pkey PRIMARY KEY (id);


--
-- Name: abbonamento abbonamento_cartadicredito_fkey; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.abbonamento
    ADD CONSTRAINT abbonamento_cartadicredito_fkey FOREIGN KEY (cartadicredito) REFERENCES bike_sharing.cartadicredito(numero) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: morsa morsa_bicicletta_fkey; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.morsa
    ADD CONSTRAINT morsa_bicicletta_fkey FOREIGN KEY (bicicletta) REFERENCES bike_sharing.bicicletta(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: morsa morsa_bicicletta_fkey1; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.morsa
    ADD CONSTRAINT morsa_bicicletta_fkey1 FOREIGN KEY (bicicletta) REFERENCES bike_sharing.bicicletta(id);


--
-- Name: morsa morsa_totem_fkey; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.morsa
    ADD CONSTRAINT morsa_totem_fkey FOREIGN KEY (totem) REFERENCES bike_sharing.totem(id);


--
-- Name: noleggio noleggio_abbonamento_fkey; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.noleggio
    ADD CONSTRAINT noleggio_abbonamento_fkey FOREIGN KEY (abbonamento) REFERENCES bike_sharing.abbonamento(codice);


--
-- Name: noleggio noleggio_bicicletta_fkey; Type: FK CONSTRAINT; Schema: bike_sharing; Owner: postgres
--

ALTER TABLE ONLY bike_sharing.noleggio
    ADD CONSTRAINT noleggio_bicicletta_fkey FOREIGN KEY (bicicletta) REFERENCES bike_sharing.bicicletta(id);


--
-- PostgreSQL database dump complete
--

